@import "tailwindcss";
@import "@heroui/styles"; 


@keyframes errorGlow {
  0%,
  100% {
    background: rgba(6, 182, 212, 0.12); /* cyan */
    box-shadow: 0 0 120px rgba(6, 182, 212, 0.4);
  }

  50% {
    background: rgba(239, 68, 68, 0.12); /* red */
    box-shadow: 0 0 120px rgba(239, 68, 68, 0.4);
  }
}

.animate-error-glow {
  animation: errorGlow 2.5s ease-in-out infinite;
}

